.processing {
    display: flex;
    gap: 10px;
}
.account-page-title {
    margin: 0;
}
.account-page  {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    min-height: 350px;
}
.account-page a {
    color: #E5342E !important;
    text-decoration: #E5342E !important;
}
.account-page-content {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
}
form#customer_login {
    display: flex;
    flex-direction: column;
    gap: 1.17rem;
}

.form-field {
    height: 45px;
    position: relative;
    width: 100%;
}

.form-field-title {
    color: #909090 ;
    position: absolute;
    padding-left: 0.625rem;
    left:0;
    top: 0.7rem;
    font-size: medium;
    height: max-content;
    
}
.form-field-title--input {
    font-size: smaller;
    top: 0.2rem
}
.form-field-input {
    text-align: left;
    height: 45px;
    font-style: normal;
    width: 100%;
    padding: 1.5rem 0.625rem 0.375rem;
    color: #1d1d1d;
    background-color: #fff;
    border: 1px solid #dddddd;
    border-radius: 3px;
}

.form-action-row {
    display: flex;
    justify-content: left;
    gap: 15px;
}
.form-action-row button {
    width: 100px;
}

.form-action-row  a {
    color: #E5342E;
    text-decoration: #E5342E;
}
.form-action-row--helper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.3;
}
.form-action-row--helper span {
    text-align: left;
}
button.create-account {
    align-self: flex-start;
    min-height: 40px;
}
button.add-address {
    min-height: 40px;
}

form#create_customer {
    display: grid;
    grid-template-columns: 285px 285px;
    grid-template-rows: auto 45px 45px 45px;
    gap: 1.17rem;
}
form#create_customer div.form-action-row {
    grid-column: 1/3;
    margin-right: auto;
}

.account-message-error {
    color: #f05d5d;
    background-color: #f7dddd;
    padding: 0.46875rem 0.703125rem;
    grid-column: 1/3;
}

.account-message-error ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.account-message-error li {
    padding: 0;
    text-align: left;
}

.account-page--two-column {
    display: grid;
    gap: 35px;
    grid-template-columns: 35vw 35vw;
}
.account-page--column-large.account-order-history {
    justify-self: left;
}
.account-page--column-small.account-info {
    justify-self: left;
}
.account-page-details h4 {
    margin: 0;
    margin-bottom: 20px;
}
.account-page-subtitle {
    text-align: left;
    padding: 0;
    margin: 0;
    margin-bottom: 0.7rem;
    
}

.account-page-details ul {
    margin: 0;
    padding: 0;
    justify-content: left;
}
.account-page-details li {
    padding: 0;
}


.account-address-form {
    width: 550px;
    padding: 0;
}
form#address-form {
    display: flex;
    flex-direction: column;
    gap: 1.17rem;
}
form#address-form .form-field-select-wrapper label {
    padding-top: 0.3rem;
}
form#address-form .form-field-select-wrapper .form-field {
    padding-top: 1rem;
}
form#address-form .form-field-select-wrapper {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    width: 100%;
    height: 45px;
    color: #1d1d1d;
    background-color: #fff;
    border: 1px solid #dddddd;
    border-radius: 3px;
    box-shadow: none;
}

#default_address {
    margin-right: 0.3rem;
}
label.form-field-checkbox {
    display: flex;
    align-items: center;
    place-content: flex-start;
    height: 100%;
}






.form-field-columns {
    width: 100%;
    display:flex;
    gap: 1.17rem;
}





@media (max-width: 650px) {
    form#customer_login {
        width: 90vw;
    }
    form#create_customer {
        display: flex;
        flex-direction: column;
        width: 90vw;
    }
    form#create_customer div.form-action-row {
        grid-column: 1;
        margin-right: auto;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
    }
}






@media (max-width: 400px) {
    /* section.account-page-login {
        width: 90vw;
    } */
    .account-page-content {
        width: 100%
    }
    form#customer_login .form-action-row--helper {
        font-size: small;
        gap: 0.5rem;
    }
    .form-action-row button.sign-in {
        max-width: 80px;
        max-height: 55px;
    }
}
