.add-favourite {
    display: inline-block;
}

.add-favourite button{
    display: flex;
    text-align: left;
    background: transparent;
    color: inherit;
    width:max-content;
    align-items: center;
    padding: 0;
}

.add-favourite i {
    color: red;
    opacity: 1;
    font-size:x-large;
    margin-right: 0.3rem;
    font-weight: 100;
}
.add-favourite i.ri-heart-3-line {
    opacity: 0.5;
}
.product_img .add-favourite i.ri-heart-3-line:hover {
    opacity: 1;
}

.product_img .add-favourite span {
    display: none;
}
.product_img .add-favourite i {
    margin: 0;
}
.product_img .add-favourite {
    position: absolute;
    margin: 0;
    top: 10px;
    left:20px;
    z-index: 2;
}




.remove-favourite button{
    display: flex;
    background: transparent;
    width:max-content;
}

.remove-favourite i {
    color: darkgray;
    opacity: 1;
    font-size:xx-large;
    font-weight: 100;
}

.product_img .remove-favourite {
    position: absolute;
    top: -10px;
    right:10px;
    z-index: 2;
}