
#showcase {
    width: 100vw;
}
.box {
    display: flex !important;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.box img {
    flex-shrink: 0;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.slick-prev {
    left: 1rem !important;
    z-index: 1;
  }
  .slick-next {
    right: 2rem !important;
    z-index: 1;
  }
  
  .slick-prev:before, .slick-next:before {
    line-height: 0.5;
    font-size: 35px;
  }

  div.slick-list {
    margin-bottom: 50px !important; 
  }

button.slide_button {
    font-size: large;
    padding: 0.5rem 0rem;
    position: absolute;
    right: 7.5%;
    top: 80%;
    transform: translateY(-50%);
    z-index: 10;
}

button.slide_button:hover {
    background-color: rgb(255, 50, 50)
}
button.slide_button:active {
    background-color: rgb(255, 75, 75)
}


@media (max-width: 700px) {
    .box img {
        flex-shrink: 0;
        width: 125%;
    }

    button.slide_button {
        font-size: medium;
        padding: 0.2rem 0rem;
        width: 90px !important;
    }

    .end, .code {
        font-size: large;
        width: 120px;
    }
    .promotion > h1 {
        font-size: x-large;
    }
    .promotion {
        padding-left: 25px;
        padding-right: 25px;

    }

    .discount, .everything {
        font-size: xx-large;
        width: 220px;
    }
}
@media (max-width: 700px) {
    .end, .code {
        font-size: medium;
        width: 100px;
    }
    .promotion > h1 {
        font-size: large;
    }
    .promotion {
        padding-left: 25px;
        padding-right: 25px;

    }

    .discount, .everything {
        font-size: larger;
        width: 165px;
    }
}
@media (max-width: 360px) {
    .promotion {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        justify-items: center;
    }
    .promotion > h1 {
        margin-bottom: 20px;
    }
    .end, .code {
        width: auto;
        margin-bottom: 0px;
    }
    .end {
        grid-row-start: 2;
        margin-bottom: 5px;
    }

}