section.product_list {
    min-height: 320px;
    display: flex;
    align-items: center;
}

.filter_and_sort {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    justify-content: space-around;
    display: flex;
}

.filter_widget, .sort_widget {
    display: flex;
}

.filter_widget h6, .sort_widget h6 {
    margin: 0;
    margin-right: 8px;
}

select {
    width: auto;
    text-align-last: left;
    padding-right: 10px;
    font-size: 10
}
.notFound, .loading {
    text-align: center;
    font-size: larger;
    padding: 0 35px 0 35px;
}

@media (max-width: 600px) {
    .filter_and_sort {
        flex-direction: column;
        justify-content: left;
        width: 250px;
        gap: 12px;
    }
    .filter_widget {
        justify-content: left;
    }
    .sort_widget {
        justify-content: left;
    }

}