.promotion {
    padding: 20px 25% 20px 25%;
    background-color: red;
    color: white;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    
}

.promotion > h1 {
    align-self: center;
}

h1 span {
    display: block;
}

.end, .code {
    align-self: center;
    padding: 0 10px 0 10px;
    width: 175px;
}


.promotion > h2 {
    grid-column: 2 / span 1;
    padding: 0 10px 0 10px;
}

.discount {
    margin: auto;
    width: 350px;
    margin-top: 5px;
    padding-top: 5px;
    font-size: 4rem;
    background-color: black;
}
.everything {
    margin: auto;
    width: 350px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-size: 3rem;
    background-color: black;

}

@media (max-width: 700px) {
    .end, .code {
        font-size: large;
        width: 120px;
    }
    .promotion > h1 {
        font-size: x-large;
    }
    .promotion {
        padding-left: 25px;
        padding-right: 25px;

    }

    .discount, .everything {
        font-size: xx-large;
        width: 220px;
    }


}