header.header {
    padding-top: 15px;
    height: 100px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    box-shadow: 0 1px 4px #7d7d7d1c;
    transition: all 0.2s;
    overflow: hidden;
}
.navigation {
    display: flex;
    align-items: center;
}
div.logo {
    width: 200px;
}

a.logo:hover {
    color: inherit !important;
}

div.nav_wrapper {
    display: inline-flex;
    justify-content: space-between;
    width: 95%;
    margin-bottom: 15px;
}
div.logo {
    display: inline-flex;
    gap: 8px;
}
header div.logo > img {
    width: 30px;
    height: 30px;
    align-self: center;
}
div.logo > h3 {
    align-self: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
div.nav_icons {
    width: 210px;
    text-align: right;
}
div.nav_icons > span {
    margin-left: 10px;
    
}
span.user_icon {
    margin-right: 25px;
    padding-top: 20px;
}

span.cart_icon, span.fav_icon {
    position: relative;
    padding-top: 20px;
    padding-right: 10px;
    cursor: pointer;
}

span.badge, span.badge-cart {
    position: absolute;
    top: 10px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
span.badge {
    background-color: black;
}
span.badge-cart {
    background-color: red;
}





div.mobile_menu {
    display: none;
    cursor: pointer;
    margin-right: 20px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    position: relative;
    text-align: center;
}

li {
    padding: 3px 10px;
}

a {
    text-decoration: none !important;
    color: initial !important;
}

a:hover {
    color: red !important;
}

.nav_active {
    font-weight: 750;
}



#nav {
    transition: all 0.2s;

}

.mobile_nav {
    display: none;
    height: 100vh;
    overflow: hidden;
    width: 0px;
    transition: width 0.4s;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 0;
    padding-right: 15px;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 2px 6px #0000001c;
}
.mobile_nav > div {
    border-right: 0.1px solid white;
    box-shadow: inset -6px 0 6px -6px rgba(0, 0, 0, 0.3);
    height: 100vh;
    padding-right: 40px;
}


.mobile_nav ul.menu {
    display: inline-flex;
    width: 280px;
    justify-content: space-between;
    padding: 0;
    padding-top: 20px;
    
}
.mobile_nav .user_icon {
    margin-right: 35px;
}
.mobile_nav ul.quick_links {
    flex-direction: column;
    padding-left: 0;
    text-align: left;
    justify-content: left;
    width:max
}

.mobile_nav ul.quick_links > li {
    text-align: left;
    font-size: larger;
    width: max-content;
}

.close_icon {
    cursor: pointer;
}
.close_icon:hover {
    color: red;
}

.mobile_search_box {
    display: none;
    height: 45%;
    padding-left: 2%;
    padding-right: 2%;
}

.search_box {
    margin-left: 15px;
    width: 70%;
    height: 35px;
}
.search_box input {
    width: calc(100% - 50px);
    height: 110%;
    text-align: left;
    padding: 8px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.search_box button {
    border-radius: 0;
    float: right;
    width: 50px;
    height: 110%;
}
.search_box form {
    height: 100%;
}
.mobile_search_box form {
    height: 100%;
}
.mobile_search_box input {
    width: calc(100% - 60px);
    height: 100%;
    text-align: left;
    font-size: larger;
    padding: 8px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.mobile_search_box button {
    border-radius: 0;
    float: right;
    font-size: larger;
    width: 60px;
    height: 100%;
}

.mobile-nav-overlay {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1500%;
    z-index: 200;
    opacity: 1;
    background-color: #00000026;
    transition: opacity .35s cubic-bezier(.1,.1,0,1);
}

body.scroll-locked {
    overflow: hidden;
    touch-action: manipulation;
}

@media (max-width: 1020px) {
   
    header.header  {
        height: 120px !important;
    }
    .search_box {
        display: none;
    }
    .mobile_search_box {
        display: block;
    }
    .nav_icons {
        width: max-content;
        height: 30px;
    }
    .navigation {
        margin-right: 0;
    }
    div.logo {
        width: 170px;
        white-space: nowrap;
    }
    
    
    span.cart_icon {
        color: black;
    }
    span.cart_icon:hover {
        color: red;
    }
    



}