footer {
    padding: 25px 15% 25px 15%;
    background-color: rgb(235, 235, 235);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    gap: 10%;
    margin-top: 50px;
}
.footer1, .footer2, .footer3 {
    justify-self: left;
    text-align: left;
}
.footer4 {
    justify-self: right;
}
/* .logo {
    justify-content: left;
    display: flex;
    align-items: start;
} */
footer div.logo {
    justify-content: flex-start;
}
footer .logo > img {
    height: 15px;
    width: 15px;
}
footer h4 {
    font-size: smaller;
    margin-top: 0px;
    margin-bottom: -2px;
    text-align: left;
}
footer p {
    font-size: smaller;
    margin-bottom: 5px;
}

h4.quick-link_titles {
    margin-bottom: 5px;
    margin-left: 0px;
    
}
footer ul {
    justify-content: left;
    margin-left: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
}
footer li {
    padding: 0px;
    text-align: left;
    font-size: smaller;
}
footer span {
    margin-right: 5px;
}
footer a {
    text-decoration: none;
    color: initial;
}



@media (max-width: 770px) {
    footer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 5%;
    }
    .footer4 {
        justify-self: auto;
    }
}

