* {
  justify-content: center;
  text-align: center;
}
html {
  width: 100vw;
  background-color: rgb(235, 235, 235);

}
body.scroll-locked {
  overflow: hidden;
  touch-action: manipulation;
}
body {
  overflow-x: hidden;
}
