@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;400;600;700&display=swap');

* {
  justify-content: center;
  text-align: center;
  font-family: Karla,sans-serif;
}
html {
  width: 100vw;
  background-color: rgb(235, 235, 235);

}
body.scroll-locked {
  overflow: hidden;
  touch-action: manipulation;
}
body {
  overflow-x: hidden;
}
select:active, select:hover, select:focus {
  outline: none
}
input:active, input:hover, input:focus {
  outline: none
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  position: relative;
  text-align: center;
}

li {
  padding: 3px 10px;
}

a {
  text-decoration: none !important;
  color: initial !important;
}

a:hover {
  color: orangered !important;
}

a:focus {
  color: black !important;
}